MLINGO_APP_NAME=MLingo API
MLINGO_APP_VERSION=0.1.0
MLINGO_ENVIRONMENT=development
MLINGO_DATABASE_URL=postgresql://mlingo:mlingo_dev_password@localhost:5432/mlingo
MLINGO_FRONTEND_ORIGIN=http://localhost:3000
